## Credit Analysis
Process : Analysis -> featue engineering -> Model -> Credit Check App

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# setting display options for better readability
pd.set_option('display.max_columns', None)

In [7]:
#setting seaborn style
sns.set(style="whitegrid")

In [10]:
# loading the dataset
data = pd.read_csv('german_credit_data.csv', index_col=0)
data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad